<html>
<head>
    <link href="{{url_for('static', filename='css/madre.css') }}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/paginas.css') }}" rel="stylesheet">

    <script src="escrutinio.js"></script>
</head>
<body>
<div class="general">
    <div class="cabecera">
        <ol class="bot_ini">
            <ul>
                <a href="/" target="_self">inicio</a>
            </ul>
            <ul>
            <a href="prac_js" target="_self">practica JS</a>
            </ul>
            <ul>
                <a href="prac_PY" target="_self">practica PY</a>
            </ul>
            <ul>
                <a href="prac_numpy" target="_self">practicas numpy</a>
            </ul>
            <ul>
                <a href="prac_pandas" target="_self">practicas pandas</a>
            </ul>
        </ol>
    </div>
    <div class="cuerpo">
<img src="img/log_js.png">
        {% block content %}

         {% endblock %}
    </div>
    <div class="pie">
     <h4>Página realizada por Alfredo Martínez Pascucal</h4>
    </div>
</div>
</body>
</html>