<html>
<head>
    <link href="{{url_for('static', filename='css/madre.css') }}" rel="stylesheet">

    <script src="escrutinio.js"></script>
</head>
<body>
<div class="cabecera">
    <ol class="bot_ini">
        <ul>
           <a href="html/ini_fiso.html" target="_self"></a>
        </ul>
        <ul>
            <a href="html/ini_equipo.html" target="_self">numeros</a>
        </ul>
        <ul>
            <a href="html/ini_estadis.html" target="_self">trabajo 2</a>
        </ul>
        <ul>
            <a href="html/ini_contac.html" target="_self">Contactar</a>
        </ul>
       
    </ol>
    <ol class="bot_pena">
        <ul>
            <a href="html/pena_contac.html" target="_self">enlace 01</a>
        </ul>
        <ul>
            <a href="html/pena_contac.html" target="_self">enlace 02</a>
        </ul>
        <ul>
            <a href="html/pena_contac.html" target="_self">enlace 03</a>
        </ul>
    </ol>
</div>
<div class="cuerpo">
    {% block content %}
    {% endblock %}
</div>
<div class="pie">
    Esto es el píe
    </div>
</body>
</html>